.movie--list--container {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  grid-gap: 3px;
  .up--arrow--container {
    height: 40px;
    width: 40px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
  }
}
